#signup-page{
    height: 540px;
    background-color: #dcdcdc;
}

#signup-form{
    padding: 30px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 63%;
    width: 35%;
    text-align: left;
    border-radius: 3%;
}